<body>
    <style>
       
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .social-icon {
      display: inline-block;
      font-size: 24px;
      color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    .social-icon:hover {
      transform: rotate(360deg);
    }

    .github-icon:hover {
      color: #211F1F; /* GitHub original color */
    }

    .facebook-icon:hover {
      color: #1877f2; /* Facebook original color */
    }

    .twitter-icon:hover {
      color: #1DA1F2; /* Twitter original color */
    }
  </style>
    
    <footer>
        <div class="container-fluid">

        <p>&copy; 2023 Dreamers A fully funding base site </p>
        <div class="social-icons">
          <a href="https://github.com/Harshit9651" target="_blank" class="social-icon github-icon"><i class="fa-brands fa-github"></i></a>
          <a href="https://facebook.com" target="_blank" class="social-icon facebook-icon"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://twitter.com" target="_blank" class="social-icon twitter-icon"><i class="fa-brands fa-twitter"></i></a>
        </div>
       


    </div>

        
    </footer>
</body>