
<nav class="navbar navbar-expand-md bg-body   fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-4 mb-2 " href="/">Dremers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0 ">
          <li class="nav-item me-4 ">
            <a     data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Only Donors can Access this Page" class="nav-link "  href="/students">Students</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link "  data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Only Students  can Access this Page" aria-current="page" href="/donors">Doners</a>
          </li>
       
          <li class="nav-item dropdown me-4 ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             login
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/sinIn">As a doner</a></li>
              <li><a class="dropdown-item" href="/sinIn">As a Student</a></li>
          
  
            </ul>
          </li>
   
         
          <li class="nav-item me-4">
            <a class="nav-link "  data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="Only Students  can Access this Page"  href="/homepagescholership"><i class="fa-solid fa-landmark"></i> Scholership </a>

          </li>
            
      
      

    

 

        </ul>
       
      <!--  <a class="nav-link me-4 " href="/profile" data-toggle="modal" data-target="#profileModal">
          <i style="font-size: 1.6rem;" class="fa-regular fa-circle-user"></i>
        </a>-->
         
      
        <a class="nav-link " data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Log Out " href="/logout">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
     
      
      </div>
    </div>
  </nav>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      // Wait for the document to be ready
      $('[data-bs-toggle="tooltip"]').tooltip({
        template: '<div class="tooltip custom-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
      });
    });
    
  </script>

<style>
  /* Mobile-specific Styles */
  /* Tooltip Styles */
.custom-tooltip .tooltip-inner {
  background-color: white !important;
  color: purple !important;
  font-weight: 400 !important;
  font-size: 1.1rem;
  border-bottom-color: aliceblue !important;
}

.tooltip {
  border-radius: 20px !important;
  background-color: white !important;
}

.custom-tooltip {
  --bs-tooltip-bg: white !important;
  border-bottom-color: white !important;
}

  @media (max-width: 767px) {
    .navbar {
    background-color: rgb(39, 155, 161) !important;

  }
    /* Navbar Links Background and Text Color */
    .navbar-nav .nav-link {
      color: white !important;
      font-size: 1rem;
    }

    .navbar-collapse.show .navbar-nav .nav-link {
     /* background-color:white !important;*/
      color: rgb(238, 233, 233) !important;
    }
    .fa-circle-user{
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      color: rgb(245, 245, 245);
    }
    .navbar-brand{
  font-family: Dancing Script;
  font-size: 2rem;
  color: rgb(15, 14, 14);

}
  }

  /* Laptop or larger screens */
  @media (min-width: 768px) {
    .navbar-brand{
  font-family: Dancing Script;
  font-size: 2rem;
  color: white;

}
.navbar{
  background-color:#081b29!important;
  color: white !important;
  height: 4rem;
}
.nav-link {
  color: white !important;
cursor: pointer;
  font-size: 1rem;
}

  }
</style>