<% layout("/layouts/boilerplate") %>


    <link rel="stylesheet" href="/style/syle.css">
<body>


    <div class="row ellu  " >
        <div class="col-md-8  mt-5 offset-2">
        <form method="post" action="/donerlogin" id="userForm" class="needs-validation"novalidate>
          <h2 id="dr">
          Login Form
          </h2>
   
       
     
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address :</label>
            <input type="email" class="form-control" required id="exampleFormControlInput1" name="Email" placeholder="name@example.com">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
      
          <div class="mb-3">
            <label for="Username" class="form-label">Enter Username :</label>
            <input type="text" class="form-control" required id="Username" name="Username">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
      
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> Enter Role:</label>
            <input type="text" class="form-control" name="Role" placeholder="enter Your Role" required id="exampleFormControlInput1"  >
            <div class="valid-feedback">
              Looks good!
            </div>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
      
        
          <div class="mb-3">
            <label for="password" class="form-label">Enter password:</label>
            <input type="password" class="form-control" required id="password" name="password">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
       
        
      
          <div class="col-3">
            <div class=" mt-5 mb-5">
              <button class="btn btn-success">submit</button>
            </div>
          
       
        </form>
        </div>
         
      </div>
      
      
      
      
      
      </div>

</body>